<div class="container">
  <h1><%=@survey.name%></h1>
  <ul>
    <%@survey.questions.each do |question|%>
      <li><%=question.body%></li>
      <ul>
        <% question.choices.each do |choice| %>
          <li> <%=choice.body%>: <%= "#{(question.assign_percentage(choice))}%" if question.num_of_votes > 0 %> </li>
        <% end %>
      </ul>
    <%end%>
  </ul>
</div>
