<div class="container">
  <h1>Surveys</h1>
  <ul>
  <% @surveys.each do |survey| %>
    <% if survey.active %>
    <li>
      <a href="/surveys/<%=survey.id%>"> <%= survey.name %> </a>
    </li>
    <%end%>
  <% end %>
  </ul>

</div>

