<div class="container">
  <br>

  <form action="/surveys" method="post" id="questionForm">
    <input type="text" name="title" placeholder="survey name">
    <button id="add_question"> Add a question </button>
    <ol></ol>
    <input type="submit" value="create" id="submit_form">
  </form>

</div>

