<div class = "container">
  <h1><%= @survey.name %></h1>
  <ul class="dotted_ol">
  <% @survey.questions.each do |question| %>
    <li><%=question.body%></li>
    <ul>
      <%question.choices.each do |choice| %>
        <li><input type="radio"> <%=choice.body%></li>
      <% end %>
    </ul>
  <%end%>
  <input type="submit">
  </ul>
  <h4 id="survey_creation"> Survey created by <%= @user.name %> </h4>

</div>


