<div class="container">
  <h1><%=@user.name%>'s surveys</h1>
  <ul>
    <%@user.surveys.each do |survey|%>
      <li><%=survey.name%><a href="../statistics/<%=survey.id%>"> stats</a></li>
    <%end%>
  </ul>
</div>
