<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="http://www.jsviews.com/download/jsrender.js"></script>

  <script type="text/x-jsrender" id="questionTmpl">
    <li class="question">
      <input class='question_body' type="text" name="survey[]question[]" >
      <input class='delete_question' type='button' value='x'>
      <button class="add_answer">Add Answer</button>
      <ul></ul>
    </li>
  </script>



  <script type="text/x-jsrender" id="answerTmpl">
    <li class="answer">
      <input class="answer_input" type="text" name="survey[]question[]answer[]" />
      <input class="delete_answer" type='button' value='x'>
    </li>
  </script>

<!-- question code:  "survey[]question[]" -->

<!-- answer code: "survey[]question[]answer[]" -->

<!-- answer code 2: "survey[]question[][answer][]" -->

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">Survey Gorilla</a></div>

    <ul>
      <% if current_user %>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
        <li><a id="new-survey" href="/surveys/new">New Survey</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
  <footer>
    <div class="brand">Groshie&#0153;</div>
  <footer>
</body>
</html>
